.container {
    display: flex;
    padding: rem;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: white;
    border-bottom: 1px solid #000000;
    

    img {
        width: 14rem;
        height: auto;
    }

    nav {
        display: flex;
        gap: 90px;

        a {
            text-decoration: none;
            font-size: 19px;
            font-weight: 500;
            color: #000000;
        }
    }

    .btncontato {
        padding: rem;
        text-decoration: none;
        font-weight: 500;
        background-color: #18257A;
        color: white;
        border-radius: 12px;
    }
}