.container {
    display: flex;
    width: 100%;
    min-height: 15rem;
    flex-wrap: wrap;

    scroll-margin-top: 7rem;

    img {
        width: 33.33%;
        height: 24rem;
        object-fit: cover;
        border: 2.1px solid black;
    }
}

@media screen and (max-width: 800px) {
    .container {
        flex-wrap: nowrap;
        width: 100%;
        overflow-x: auto;
        img {
            width: 100%;
        }
    }
}

@keyframes swipe {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-33.33%);
    }
}